@font-face {
    font-family: 'life';
    src: url('fuentes/finalf.ttf') format('ttf'),
         url('fuentes/finalf.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, p {
    font-family: 'life', sans-serif;
    color: rgb(0, 0, 0);
}
header img{
    height: auto;
}
body {
    background-color: #ffffff;
    font-family: 'life', sans-serif;
    height: 100dvh;
}

section {
    padding: 40px 20px;
    max-width: 1400px;
    margin: 0 auto;
}

h1{
    color: #000000;
}

.life-content {
    padding: 40px 40px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    max-width: 1400px;
    margin: 10px;
    border-radius: 10px;
    height: 1000px;
}
.contenido {
    display: flex;
    gap: 80px;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    
}
.texto {
    flex: 1;
}
.texto h1 {
    font-size: 4.5em;
    line-height: 1.1;
    color: #000000;
    margin-bottom: 30px;
}
.galeria {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

img {
    width: 400px;
    height: 400px;
}
.imagen{
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 30px  #ffffff (255, 255, 255, 0.6);
}
.imagen:hover img {
    transform: scale(1.08);
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

h2 {
    color: rgb(0, 0, 0);
}

.buscador {
    height: 560px;
    width: 1300px;
    background-image: url("imagenes/finalfantasy.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    align-items: end;
    align-items: center;
    overflow: hidden;
    display: flex; 
    animation: zoomFondo 2.5s ease-in-out infinite alternate;
} 
@keyframes zoomFondo {
  from {
    background-size: 100%;
  }
  to {
    background-size: 110%; /* Aumenta ligeramente el tamaño */
  }
}  


.buscador-contenido{
    text-align: center; 
}

nav {
    height: 60px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    display: flex;
}
nav li:hover  {
    transform: scale(1.50);
}
nav li{
    object-fit: cover;
    transition: transform 0.1s ease;
}

nav a {
    color: #000000;
    font-size: 1.0em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 5px;
    transition: all 0.3s ease;
    position: relative;
    transition: transform 0.5s ease;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
    align-items: center;
    transition: transform 0.5s ease;

}

a {
    margin: 0 15px;
    align-items: center;
    transition: transform 0.5s ease;
}

header {
    background-color: #ffffff;
    display: flex;
    /* ← Esta es la línea mágica */
    align-items: center;
    /* Alinea todo verticalmente en el centro */
    justify-content: space-between;
    /* Pone el logo a la izquierda y el nav a la derecha */
}



.videos {
    
    padding: 20px;
    text-align: center;
    height: 850px;
}

.actores-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1800px;

}

.actores_fotos {
    
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 800px;
    width: 400px;
    border: 10px;
    
    
}
.actores_fotos:hover img {
    transform: scale(1.08);
}
.actores_fotos img{
    object-fit: cover;
    transition: transform 0.5s ease;
}
h3{
    color: #000000;
    
}
img{
    height: 700px;
    border: 10px;
    border-radius: 10px;
}

footer{
    display: flex;
    color: #000000;
    border-radius: 10px;
    align-items: center;
    width: 900px;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
       
}
.final-page{
 width: 100dvh;
       
}

.final-page h4{
    color: rgb(0, 0, 0);
    
}